<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :maxlength => 140 %>
  </div>
  <div>Characters left: <span id="char-count">140</span></div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
