<h1>Sample App</h1>

<p>
This is the home page for the <%=link_to "Ruby on Rails Tutorial", "http://railstutorial.org/" %>sample application.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
